.table {
  border: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

.table caption {
  font-size: 1.25rem;
  padding: 1rem 0;
}

.table tr {
  background: #f8f8f8;
  display: block;
  margin-bottom: 0.625rem;
  padding: 0.25rem;
  border: 1px solid #ddd;
  border-bottom-width: 3px;
}

.table thead {
  border: 0;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.table td {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  font-size: 0.875rem;
  text-align: right;
  padding: 0.625rem;
}

.table td::before {
  content: attr(data-label);
  font-weight: bold;
  text-transform: uppercase;
}

.table td:last-child {
  border-bottom-width: 0;
}

@container (min-width: 37.5em) {
  .table {
    border: 1px solid #ccc;
    border-collapse: collapse;
  }

  .table caption {
    font-size: 1.5rem;
    margin: 0.5rem, 0 0 0.75rem;
  }

  .table tr {
    display: table-row;
    border-bottom-width: 1px;
  }

  .table thead {
    height: auto;
    width: auto;
    margin: 0;
    position: relative;
  }

  .table th,
  .table td {
    text-align: center;
    display: table-cell;
  }

  .table td::before {
    display: none;
    content: '';
  }
}
