.form {
  display: grid;
  padding: 1rem;
  gap: 1rem;
}

.form label {
  display: flex;
  gap: 1rem;
  justify-content: start;
}

.form span {
  width: 6ch;
}

.form div {
  display: flex;
  gap: 1rem;
}

.form button {
  flex: 1;
}
